In [1]:
import pandas as pd

import numpy as np

import seaborn as sns

%matplotlib inline
import matplotlib.pyplot as plt
from matplotlib import cm

import datetime
import calendar

from IPython.display import Image

In [2]:
pd.set_option("display.max_columns",100)
pd.set_option("display.max_rows",400)

In [8]:
train = pd.read_csv('/Users/mengruiyin/Dropbox/project2/train_ver2.csv')

/Users/mengruiyin/.local/lib/python2.7/site-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (5,8,11,15) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [101]:
train = pd.read_csv('/Users/mengruiyin/Dropbox/project2/train_ver2.csv')
test = pd.read_csv('/Users/mengruiyin/Dropbox/project2/test_ver2.csv')

In [102]:
train.shape

(13647309, 48)

In [103]:
test.shape

(929615, 24)

In [104]:
test_id_check = pd.DataFrame(test.ncodpers.isin(train.ncodpers))
test_id_check.loc[test_id_check['ncodpers'] == False]

Empty DataFrame
Columns: [ncodpers]
Index: []

##### all customers in testing data have records in training set.

In [105]:
train.fecha_dato = pd.to_datetime(train.fecha_dato, format="%Y-%m-%d")
train.fecha_alta = pd.to_datetime(train.fecha_alta, format="%Y-%m-%d")
train.ult_fec_cli_1t = pd.to_datetime(train.ult_fec_cli_1t, format="%Y-%m-%d")
test.fecha_dato = pd.to_datetime(test.fecha_dato, format="%Y-%m-%d")
test.fecha_alta = pd.to_datetime(test.fecha_alta, format="%Y-%m-%d")
test.ult_fec_cli_1t = pd.to_datetime(test.ult_fec_cli_1t, format="%Y-%m-%d")

In [106]:
train.describe()

,ncodpers,ind_nuevo,indrel,tipodom,cod_prov,ind_actividad_cliente,renta,ind_ahor_fin_ult1,ind_aval_fin_ult1,ind_cco_fin_ult1,ind_cder_fin_ult1,ind_cno_fin_ult1,ind_ctju_fin_ult1,ind_ctma_fin_ult1,ind_ctop_fin_ult1,ind_ctpp_fin_ult1,ind_deco_fin_ult1,ind_deme_fin_ult1,ind_dela_fin_ult1,ind_ecue_fin_ult1,ind_fond_fin_ult1,ind_hip_fin_ult1,ind_plan_fin_ult1,ind_pres_fin_ult1,ind_reca_fin_ult1,ind_tjcr_fin_ult1,ind_valo_fin_ult1,ind_viv_fin_ult1,ind_nomina_ult1,ind_nom_pens_ult1,ind_recibo_ult1
count,1.364731e+07,1.361958e+07,1.361958e+07,13619574.0,1.355372e+07,1.361958e+07,1.085293e+07,1.364731e+07,1.364731e+07,1.364731e+07,1.364731e+07,1.364731e+07,1.364731e+07,1.364731e+07,1.364731e+07,1.364731e+07,1.364731e+07,1.364731e+07,1.364731e+07,1.364731e+07,1.364731e+07,1.364731e+07,1.364731e+07,1.364731e+07,1.364731e+07,1.364731e+07,1.364731e+07,1.364731e+07,1.363125e+07,1.363125e+07,1.364731e+07
mean,8.349042e+05,5.956184e-02,1.178399e+00,1.0,2.657147e+01,4.578105e-01,1.342543e+05,1.022912e-04,2.315475e-05,6.554837e-01,3.939238e-04,8.086722e-02,9.474175e-03,9.726606e-03,1.290083e-01,4.330583e-02,1.778739e-03,1.660987e-03,4.296679e-02,8.274357e-02,1.848599e-02,5.886582e-03,9.170965e-03,2.627404e-03,5.253636e-02,4.438868e-02,2.560761e-02,3.847718e-03,5.472434e-02,5.942854e-02,1.279162e-01
std,4.315650e+05,2.366733e-01,4.177469e+00,0.0,1.278402e+01,4.982169e-01,2.306202e+05,1.011340e-02,4.811883e-03,4.752103e-01,1.984361e-02,2.726311e-01,9.687320e-02,9.814275e-02,3.352091e-01,2.035447e-01,4.213757e-02,4.072135e-02,2.027823e-01,2.754942e-01,1.347006e-01,7.649791e-02,9.532502e-02,5.119083e-02,2.231060e-01,2.059571e-01,1.579616e-01,6.191053e-02,2.274414e-01,2.364250e-01,3.339965e-01
min,1.588900e+04,0.000000e+00,1.000000e+00,1.0,1.000000e+00,0.000000e+00,1.202730e+03,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
25%,4.528130e+05,0.000000e+00,1.000000e+00,1.0,1.500000e+01,0.000000e+00,6.871098e+04,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
50%,9.318930e+05,0.000000e+00,1.000000e+00,1.0,2.800000e+01,0.000000e+00,1.018500e+05,0.000000e+00,0.000000e+00,1.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
75%,1.199286e+06,0.000000e+00,1.000000e+00,1.0,3.500000e+01,1.000000e+00,1.559560e+05,0.000000e+00,0.000000e+00,1.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
max,1.553689e+06,1.000000e+00,9.900000e+01,1.0,5.200000e+01,1.000000e+00,2.889440e+07,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00

In [107]:
train.describe(include = ['object'])

,ind_empleado,pais_residencia,sexo,age,antiguedad,indrel_1mes,tiprel_1mes,indresi,indext,conyuemp,canal_entrada,indfall,nomprov,segmento
count,13619575,13619575,13619505,13647309,13647309,13497528.0,13497528,13619575,13619575,1808,13461183,13619575,13553718,13457941
unique,5,118,2,235,507,13.0,5,2,2,2,162,2,52,3
top,N,ES,V,23,0,1.0,I,S,N,N,KHE,N,MADRID,02 - PARTICULARES
freq,13610977,13553710,7424252,542682,134335,7277607.0,7304875,13553711,12974839,1791,4055270,13584813,4409600,7960220

In [9]:
product = list(train.filter(regex='^ind.*ult1$', axis=1))
product

['ind_ahor_fin_ult1',
 'ind_aval_fin_ult1',
 'ind_cco_fin_ult1',
 'ind_cder_fin_ult1',
 'ind_cno_fin_ult1',
 'ind_ctju_fin_ult1',
 'ind_ctma_fin_ult1',
 'ind_ctop_fin_ult1',
 'ind_ctpp_fin_ult1',
 'ind_deco_fin_ult1',
 'ind_deme_fin_ult1',
 'ind_dela_fin_ult1',
 'ind_ecue_fin_ult1',
 'ind_fond_fin_ult1',
 'ind_hip_fin_ult1',
 'ind_plan_fin_ult1',
 'ind_pres_fin_ult1',
 'ind_reca_fin_ult1',
 'ind_tjcr_fin_ult1',
 'ind_valo_fin_ult1',
 'ind_viv_fin_ult1',
 'ind_nomina_ult1',
 'ind_nom_pens_ult1',
 'ind_recibo_ult1']

### Check NA

In [109]:
na_check = pd.Series.to_frame(train.isnull().sum())
na_check.columns = ['missing']
na_check['percent'] = na_check['missing']/train.shape[0]
na_check

                        missing   percent
fecha_dato                    0  0.000000
ncodpers                      0  0.000000
ind_empleado              27734  0.002032
pais_residencia           27734  0.002032
sexo                      27804  0.002037
age                           0  0.000000
fecha_alta                27734  0.002032
ind_nuevo                 27734  0.002032
antiguedad                    0  0.000000
indrel                    27734  0.002032
ult_fec_cli_1t         13622516  0.998183
indrel_1mes              149781  0.010975
tiprel_1mes              149781  0.010975
indresi                   27734  0.002032
indext                    27734  0.002032
conyuemp               13645501  0.999868
canal_entrada            186126  0.013638
indfall                   27734  0.002032
tipodom                   27735  0.002032
cod_prov                  93591  0.006858
nomprov                   93591  0.006858
ind_actividad_cliente     27734  0.002032
renta                   2794375  0.204756
segmento                 189368  0.013876
ind_ahor_fin_ult1             0  0.000000
ind_aval_fin_ult1             0  0.000000
ind_cco_fin_ult1              0  0.000000
ind_cder_fin_ult1             0  0.000000
ind_cno_fin_ult1              0  0.000000
ind_ctju_fin_ult1             0  0.000000
ind_ctma_fin_ult1             0  0.000000
ind_ctop_fin_ult1             0  0.000000
ind_ctpp_fin_ult1             0  0.000000
ind_deco_fin_ult1             0  0.000000
ind_deme_fin_ult1             0  0.000000
ind_dela_fin_ult1             0  0.000000
ind_ecue_fin_ult1             0  0.000000
ind_fond_fin_ult1             0  0.000000
ind_hip_fin_ult1              0  0.000000
ind_plan_fin_ult1             0  0.000000
ind_pres_fin_ult1             0  0.000000
ind_reca_fin_ult1             0  0.000000
ind_tjcr_fin_ult1             0  0.000000
ind_valo_fin_ult1             0  0.000000
ind_viv_fin_ult1              0  0.000000
ind_nomina_ult1           16063  0.001177
ind_nom_pens_ult1         16063  0.001177
ind_recibo_ult1               0  0.000000

* customers in test data don't have ult_fec_cli_1t: impute using training data, or treat them as still primary customers
* nomprov/cod_prov: impute using training data

In [110]:
ind_em_null = train[train.ind_empleado.isnull()]
pd.Series.to_frame(ind_em_null.isnull().sum())

                           0
fecha_dato                 0
ncodpers                   0
ind_empleado           27734
pais_residencia        27734
sexo                   27734
age                        0
fecha_alta             27734
ind_nuevo              27734
antiguedad                 0
indrel                 27734
ult_fec_cli_1t         27734
indrel_1mes            27734
tiprel_1mes            27734
indresi                27734
indext                 27734
conyuemp               27734
canal_entrada          27734
indfall                27734
tipodom                27734
cod_prov               27734
nomprov                27734
ind_actividad_cliente  27734
renta                  27734
segmento               27734
ind_ahor_fin_ult1          0
ind_aval_fin_ult1          0
ind_cco_fin_ult1           0
ind_cder_fin_ult1          0
ind_cno_fin_ult1           0
ind_ctju_fin_ult1          0
ind_ctma_fin_ult1          0
ind_ctop_fin_ult1          0
ind_ctpp_fin_ult1          0
ind_deco_fin_ult1          0
ind_deme_fin_ult1          0
ind_dela_fin_ult1          0
ind_ecue_fin_ult1          0
ind_fond_fin_ult1          0
ind_hip_fin_ult1           0
ind_plan_fin_ult1          0
ind_pres_fin_ult1          0
ind_reca_fin_ult1          0
ind_tjcr_fin_ult1          0
ind_valo_fin_ult1          0
ind_viv_fin_ult1           0
ind_nomina_ult1        15846
ind_nom_pens_ult1      15846
ind_recibo_ult1            0

In [111]:
# na_check_test = pd.Series.to_frame(test.isnull().sum())
# na_check_test.columns = ['missing']
# na_check_test['percent'] = na_check_test['missing']/test.shape[0]
# na_check_test

In [112]:
train2 = train.copy()

In [113]:
# drop records whose multiple columns have missing value
train2.dropna(subset=['ind_empleado', 'pais_residencia'], how='all', inplace = True)

In [114]:
na_check2 = pd.Series.to_frame(train2.isnull().sum())
na_check2.columns = ['missing']
na_check2['percent'] = na_check['missing']/train.shape[0]
na_check2

                        missing   percent
fecha_dato                    0  0.000000
ncodpers                      0  0.000000
ind_empleado                  0  0.002032
pais_residencia               0  0.002032
sexo                         70  0.002037
age                           0  0.000000
fecha_alta                    0  0.002032
ind_nuevo                     0  0.002032
antiguedad                    0  0.000000
indrel                        0  0.002032
ult_fec_cli_1t         13594782  0.998183
indrel_1mes              122047  0.010975
tiprel_1mes              122047  0.010975
indresi                       0  0.002032
indext                        0  0.002032
conyuemp               13617767  0.999868
canal_entrada            158392  0.013638
indfall                       0  0.002032
tipodom                       1  0.002032
cod_prov                  65857  0.006858
nomprov                   65857  0.006858
ind_actividad_cliente         0  0.002032
renta                   2766641  0.204756
segmento                 161634  0.013876
ind_ahor_fin_ult1             0  0.000000
ind_aval_fin_ult1             0  0.000000
ind_cco_fin_ult1              0  0.000000
ind_cder_fin_ult1             0  0.000000
ind_cno_fin_ult1              0  0.000000
ind_ctju_fin_ult1             0  0.000000
ind_ctma_fin_ult1             0  0.000000
ind_ctop_fin_ult1             0  0.000000
ind_ctpp_fin_ult1             0  0.000000
ind_deco_fin_ult1             0  0.000000
ind_deme_fin_ult1             0  0.000000
ind_dela_fin_ult1             0  0.000000
ind_ecue_fin_ult1             0  0.000000
ind_fond_fin_ult1             0  0.000000
ind_hip_fin_ult1              0  0.000000
ind_plan_fin_ult1             0  0.000000
ind_pres_fin_ult1             0  0.000000
ind_reca_fin_ult1             0  0.000000
ind_tjcr_fin_ult1             0  0.000000
ind_valo_fin_ult1             0  0.000000
ind_viv_fin_ult1              0  0.000000
ind_nomina_ult1             217  0.001177
ind_nom_pens_ult1           217  0.001177
ind_recibo_ult1               0  0.000000

#### training set

##### sex

In [115]:
train2['sexo'].fillna(train2['sexo'].mode()[0], inplace=True)

##### ult_fec_cli_1t

In [116]:
train2[train2.ult_fec_cli_1t.isnull()].indrel.value_counts()

1.0    13594782
Name: indrel, dtype: int64

customers who are still primary don't have 'ult_fec_cli_1t' value.

In [117]:
# if ult_fec_cli_1t value is missing, the customer is still primary, so I assign value 1
train2['ult_primary'] = np.where(train2['ult_fec_cli_1t'].isnull(), 1, 0)
train2.drop(columns = ['ult_fec_cli_1t'], inplace = True)

##### indrel_1mes

In [118]:
train2['indrel_1mes'].value_counts()

1.0    7277607
1.0    4017746
1      2195328
3.0       1804
3.0       1409
3         1137
P          874
2          483
2.0        479
2.0        355
4.0        143
4.0         93
4           70
Name: indrel_1mes, dtype: int64

In [119]:
train2.indrel_1mes[(train2.indrel_1mes == '1.0') | (train2.indrel_1mes == '1')] = 1.0
train2.indrel_1mes[(train2.indrel_1mes == '2.0') | (train2.indrel_1mes == '2')] = 2.0
train2.indrel_1mes[(train2.indrel_1mes == '3.0') | (train2.indrel_1mes == '3')] = 3.0
train2.indrel_1mes[(train2.indrel_1mes == '4.0') | (train2.indrel_1mes == '4')] = 4.0

/Users/mengruiyin/anaconda/lib/python2.7/site-packages/ipykernel/__main__.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':
/Users/mengruiyin/anaconda/lib/python2.7/site-packages/ipykernel/__main__.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  from ipykernel import kernelapp as app
/Users/mengruiyin/anaconda/lib/python2.7/site-packages/ipykernel/__main__.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  app.launch_new_instance()
/Users/mengruiyin/anaconda/lib/python2.7/site-packages/ipykernel/__main__.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [120]:
train2['indrel_1mes'].value_counts()

1.0    13490681
3.0        4350
2.0        1317
P           874
4.0         306
Name: indrel_1mes, dtype: int64

In [121]:
train2['indrel_1mes'].fillna(train2['indrel_1mes'].mode()[0], inplace=True)

##### tiprel_1mes

In [122]:
train2.tiprel_1mes.value_counts()

I    7304875
A    6187123
P       4656
R        870
N          4
Name: tiprel_1mes, dtype: int64

In [123]:
train2['tiprel_1mes'].fillna(train2['tiprel_1mes'].mode()[0], inplace=True)

##### conyuemp

In [124]:
train2['conyuemp'] = train2['conyuemp'].fillna('unknown')

##### canal

In [125]:
train2['canal_entrada'].value_counts()

KHE    4055270
KAT    3268209
KFC    3098360
KHQ     591039
KFA     409669
KHK     241084
KHM     183924
KHD     116891
KHN     116608
KAS      86221
RED      75607
KAG      74295
KAY      67350
KAA      66656
KAB      62381
KAE      50764
KCC      49308
KBZ      46446
KHL      45128
KFD      44461
KAI      37699
KEY      35146
KAW      34275
KAR      32686
KAZ      32186
KAF      30559
007      29063
013      27139
KCI      26546
KAH      24875
KAJ      24280
KCH      24098
KHF      20674
KAQ      18017
KHC      16418
KAP      14928
KAM      11285
KAD      10680
KFP       9487
KGX       9474
KEJ       9247
KHO       8992
KGV       8950
KDR       8050
KFT       8036
KAC       7697
KAL       7573
KBO       7380
KBH       7197
KFG       6800
KFS       6694
KAO       6676
KFJ       6620
KES       5904
KEW       5687
KFF       5529
KCG       5399
KCB       5187
KEN       4917
KFU       4914
KFN       4520
KCL       4187
KBQ       4179
KGY       4138
KFK       3913
KFL       3806
KBF       3760
KCD       3276
KCM       3251
KBU       3127
KED       3011
KDU       2588
KFH       2579
KEL       2483
KDM       2468
KEZ       2433
KDY       1960
KDS       1924
KEG       1895
KBR       1875
KDO       1763
KDX       1728
KBG       1725
KEH       1546
KDC       1531
KCA       1530
KAN       1370
KDT       1299
KBB       1298
KBW       1130
KCN       1117
KDQ       1112
KCU       1081
KDP       1001
KGW        989
KCK        957
KEI        944
KBV        896
KFI        881
KEA        851
KEO        850
KEV        844
KAK        838
KDE        828
KDW        772
KDF        726
KBS        714
KHP        691
KBY        642
KBL        575
KBM        555
KEK        542
KDD        534
KDZ        531
KBJ        519
KDG        469
KDV        427
KCF        420
KDA        379
KFM        371
KFR        371
KEB        370
KEF        329
KCE        309
KEU        265
KFE        250
KAU        249
KBD        241
KCS        236
KEC        231
KCV        229
KCJ        215
004        210
KCQ        198
KDN        197
KCR        196
KDH        191
KCO        179
KEE        175
KCP        158
K00        152
KBE        147
KEQ        146
KAV        107
KFB        107
KCT        105
KBX        102
KBP         85
KEM         68
KFV         67
KCX         67
KBN         61
KHA         51
KGU         28
KGC         28
KDB         17
KGN         17
KDI         17
KDL         11
025         11
KHS          5
KHR          1
Name: canal_entrada, dtype: int64

In [126]:
train2['canal_entrada'] = train2['canal_entrada'].fillna('unknown')

##### province

In [127]:
train2.drop(columns = 'cod_prov', inplace = True)

In [128]:
train2['nomprov'].fillna(train2['nomprov'].mode()[0], inplace=True)

##### renta

In [129]:
train2['renta'].describe()

count    1.085293e+07
mean     1.342543e+05
std      2.306202e+05
min      1.202730e+03
25%      6.871098e+04
50%      1.018500e+05
75%      1.559560e+05
max      2.889440e+07
Name: renta, dtype: float64

In [130]:
train2.loc[train2['renta'].isnull(), 'renta'] = train2.groupby(['nomprov']).renta.transform('median')

##### segmento

In [131]:
train2.groupby(['segmento'])['renta'].median()

segmento
01 - TOP              136712.07
02 - PARTICULARES     102451.71
03 - UNIVERSITARIO     89225.91
Name: renta, dtype: float64

In [132]:
(102451 - 89225)/2 + 89225

95838

In [133]:
(136712 - 102451)/2 +  102451

119581

In [134]:
train2['segmento'] = train2[train2.renta < 95838]['segmento'].fillna("03 - UNIVERSITARIO")
train2['segmento'] = train2[train2.renta < 119581]['segmento'].fillna("02 - PARTICULARES")

In [135]:
train2['segmento'] = train2['segmento'].fillna("01 - TOP")

##### products

In [136]:
train2['ind_nomina_ult1'].fillna(0, inplace = True)

In [137]:
train2['ind_nom_pens_ult1'].fillna(0, inplace = True)

##### tipdom

In [138]:
train2.drop(columns = 'tipodom', inplace = True)

In [139]:
na_check3 = pd.Series.to_frame(train2.isnull().sum())
na_check3.columns = ['missing']
na_check3['percent'] = na_check3['missing']/train2.shape[0]
na_check3

                       missing  percent
fecha_dato                   0      0.0
ncodpers                     0      0.0
ind_empleado                 0      0.0
pais_residencia              0      0.0
sexo                         0      0.0
age                          0      0.0
fecha_alta                   0      0.0
ind_nuevo                    0      0.0
antiguedad                   0      0.0
indrel                       0      0.0
indrel_1mes                  0      0.0
tiprel_1mes                  0      0.0
indresi                      0      0.0
indext                       0      0.0
conyuemp                     0      0.0
canal_entrada                0      0.0
indfall                      0      0.0
nomprov                      0      0.0
ind_actividad_cliente        0      0.0
renta                        0      0.0
segmento                     0      0.0
ind_ahor_fin_ult1            0      0.0
ind_aval_fin_ult1            0      0.0
ind_cco_fin_ult1             0      0.0
ind_cder_fin_ult1            0      0.0
ind_cno_fin_ult1             0      0.0
ind_ctju_fin_ult1            0      0.0
ind_ctma_fin_ult1            0      0.0
ind_ctop_fin_ult1            0      0.0
ind_ctpp_fin_ult1            0      0.0
ind_deco_fin_ult1            0      0.0
ind_deme_fin_ult1            0      0.0
ind_dela_fin_ult1            0      0.0
ind_ecue_fin_ult1            0      0.0
ind_fond_fin_ult1            0      0.0
ind_hip_fin_ult1             0      0.0
ind_plan_fin_ult1            0      0.0
ind_pres_fin_ult1            0      0.0
ind_reca_fin_ult1            0      0.0
ind_tjcr_fin_ult1            0      0.0
ind_valo_fin_ult1            0      0.0
ind_viv_fin_ult1             0      0.0
ind_nomina_ult1              0      0.0
ind_nom_pens_ult1            0      0.0
ind_recibo_ult1              0      0.0
ult_primary                  0      0.0

#### testing set

In [140]:
na_check4 = pd.Series.to_frame(test.isnull().sum())
na_check4.columns = ['missing']
na_check4['percent'] = na_check4['missing']/test.shape[0]
na_check4

                       missing   percent
fecha_dato                   0  0.000000
ncodpers                     0  0.000000
ind_empleado                 0  0.000000
pais_residencia              0  0.000000
sexo                         5  0.000005
age                          0  0.000000
fecha_alta                   0  0.000000
ind_nuevo                    0  0.000000
antiguedad                   0  0.000000
indrel                       0  0.000000
ult_fec_cli_1t          927932  0.998190
indrel_1mes                 23  0.000025
tiprel_1mes                 23  0.000025
indresi                      0  0.000000
indext                       0  0.000000
conyuemp                929511  0.999888
canal_entrada             2081  0.002239
indfall                      0  0.000000
tipodom                      0  0.000000
cod_prov                  3996  0.004299
nomprov                   3996  0.004299
ind_actividad_cliente        0  0.000000
renta                        0  0.000000
segmento                  2248  0.002418

In [141]:
test_id = test['ncodpers']

In [142]:
def find_info(col):
    info = train2[train2['ncodpers'].isin(test_id)][['ncodpers', col]].drop_duplicates()
    info_unique = info.groupby('ncodpers', as_index = False).agg({col: lambda x: tuple(x)[-1]})
    print info_unique.shape
    return info_unique

In [143]:
def find_info2(col):
    null_id = test[test[col].isnull()]['ncodpers']
    info = train2[train2.ncodpers.isin(null_id)][['ncodpers', col]].drop_duplicates()
    info_unique = info.groupby('ncodpers', as_index = False).agg({col: lambda x: tuple(x)[-1]})
    return info_unique

In [144]:
test2 = test.copy()

##### sex

In [145]:
sex_id =test[test['sexo'].isnull()]['ncodpers']
sex_id

496121    278257
536431    476023
551356    394860
575865    415005
644339    216507
Name: ncodpers, dtype: int64

In [146]:
train2[train2.ncodpers.isin(sex_id)][['ncodpers', 'sexo']].drop_duplicates()

         ncodpers sexo
366601     394860    V
573165     415005    V
1324482    476023    V
4180476    278257    V
5417751    216507    V

In [147]:
test2['sexo'] = np.where(test2['sexo'].isnull(),'V', test2['sexo'] )

In [148]:
test2['sexo'].isnull().sum()

0

##### ult_primary

In [149]:
# d = c.groupby('ncodpers').count()
# d[d.ult_primary == 2]

In [150]:
ultprimary_unique = find_info('ult_primary')

(929615, 2)

In [151]:
test2 = pd.merge(test2, ultprimary_unique, on = 'ncodpers')

In [152]:
test2.drop(columns = 'ult_fec_cli_1t', inplace = True)

In [153]:
test2.shape

(929615, 24)

##### indrel_1mes

In [154]:
indrel_1mes_unique = find_info2('indrel_1mes')

In [155]:
indrel_1mes_unique

    ncodpers  indrel_1mes
0    1548221          1.0
1    1548223          1.0
2    1548226          1.0
3    1548227          1.0
4    1548233          1.0
5    1548239          1.0
6    1548240          1.0
7    1548244          1.0
8    1548245          1.0
9    1548246          1.0
10   1548251          1.0
11   1548255          1.0
12   1548260          1.0
13   1548265          1.0
14   1548266          1.0
15   1548268          1.0
16   1548269          1.0
17   1548274          1.0
18   1548275          1.0
19   1548277          1.0
20   1548279          1.0
21   1548283          1.0
22   1548287          1.0

In [156]:
test2['indrel_1mes'] = np.where(test2['indrel_1mes'].isnull(), 1.0, test2['indrel_1mes'] )

In [157]:
test2['indrel_1mes'].isnull().sum()

0

##### tiprel_1mes

In [158]:
tiprel_1mes_unique = find_info2('tiprel_1mes')

In [159]:
tiprel_1mes_unique

    ncodpers tiprel_1mes
0    1548221           A
1    1548223           A
2    1548226           A
3    1548227           A
4    1548233           A
5    1548239           A
6    1548240           A
7    1548244           A
8    1548245           A
9    1548246           A
10   1548251           A
11   1548255           A
12   1548260           A
13   1548265           A
14   1548266           A
15   1548268           A
16   1548269           A
17   1548274           A
18   1548275           A
19   1548277           A
20   1548279           A
21   1548283           A
22   1548287           A

In [160]:
test2['tiprel_1mes'] = np.where(test2['tiprel_1mes'].isnull(), 'A', test2['tiprel_1mes'] )

In [161]:
test2['tiprel_1mes'].isnull().sum()

0

##### conyuemp

In [162]:
conyuemp_unique = find_info2('conyuemp')

In [163]:
conyuemp_unique = conyuemp_unique.set_index('ncodpers')

In [164]:
nc = test2[test2.conyuemp.isnull()]['ncodpers']

In [165]:
conyuemp_unique = conyuemp_unique.loc[nc]

In [166]:
test2.loc[test2.conyuemp.isnull(), 'conyuemp'] = conyuemp_unique['conyuemp'].values

In [167]:
test2['conyuemp'].isnull().sum()

0

##### canal_entrada

In [168]:
channel_unique = find_info2('canal_entrada')
channel_unique['canal_entrada'].value_counts()

unknown    2035
KHN          16
KAT           8
KHM           8
KFC           5
KHK           3
KFA           2
RED           2
KBF           1
KAS           1
Name: canal_entrada, dtype: int64

In [169]:
channel_unique = channel_unique.set_index('ncodpers')

In [170]:
nc_channel = test2[test2.canal_entrada.isnull()]['ncodpers']

In [171]:
channel_unique = channel_unique.loc[nc_channel]

In [172]:
test2.loc[test2.canal_entrada.isnull(), 'canal_entrada'] = channel_unique['canal_entrada'].values

In [173]:
test2['canal_entrada'].isnull().sum()

0

##### nomprov

In [174]:
province_unique = find_info2('nomprov')
province_unique['nomprov'].value_counts()

MADRID       3990
VALENCIA        2
GRANADA         1
SALAMANCA       1
JAEN            1
RIOJA, LA       1
Name: nomprov, dtype: int64

In [175]:
province_unique = province_unique.set_index('ncodpers')

In [176]:
nc_province = test2[test2.nomprov.isnull()]['ncodpers']

In [177]:
province_unique = province_unique.loc[nc_province]

In [178]:
test2.loc[test2.nomprov.isnull(), 'nomprov'] = province_unique['nomprov'].values

In [179]:
test2['nomprov'].isnull().sum()

0

##### segmento

In [180]:
segment_unique = find_info2('segmento')
segment_unique['segmento'].value_counts()

01 - TOP              1149
03 - UNIVERSITARIO     753
02 - PARTICULARES      346
Name: segmento, dtype: int64

In [181]:
segment_unique = segment_unique.set_index('ncodpers')

In [182]:
nc_segment = test2[test2.segmento.isnull()]['ncodpers']

In [183]:
segment_unique = segment_unique.loc[nc_segment]

In [184]:
test2.loc[test2.segmento.isnull(), 'segmento'] = segment_unique['segmento'].values

In [185]:
test2['segmento'].isnull().sum()

0

In [186]:
test2.drop(columns = ['tipodom', 'cod_prov'], inplace = True)

In [187]:
feature = train2.columns[~train2.columns.isin(product)]
list(feature).append('ult_primary')

In [188]:
feature.equals(test2.columns)

True

In [189]:
train2['renta'].dtypes

dtype('float64')

In [190]:
# test2_dtype = pd.DataFrame(test2.dtypes)
# test2_dtype

                                    0
fecha_dato             datetime64[ns]
ncodpers                        int64
ind_empleado                   object
pais_residencia                object
sexo                           object
age                             int64
fecha_alta             datetime64[ns]
ind_nuevo                       int64
antiguedad                      int64
indrel                          int64
indrel_1mes                   float64
tiprel_1mes                    object
indresi                        object
indext                         object
conyuemp                       object
canal_entrada                  object
indfall                        object
nomprov                        object
ind_actividad_cliente           int64
renta                          object
segmento                       object
ult_primary                     int64

In [198]:
# train2_dtype = pd.DataFrame(train2[feature].dtypes)
# train2_dtype

In [193]:
train2['age'] = pd.to_numeric(train2.age, errors='coerce')

In [192]:
train2['antiguedad'] = train2['antiguedad'].astype('int64')

In [194]:
test2['indrel_1mes'] = test2['indrel_1mes'].astype('object')

In [195]:
test2['renta'] = pd.to_numeric(test2.renta, errors='coerce')

In [197]:
test2_dtype = pd.DataFrame(test2.dtypes)
test2_dtype

                                    0
fecha_dato             datetime64[ns]
ncodpers                        int64
ind_empleado                   object
pais_residencia                object
sexo                           object
age                             int64
fecha_alta             datetime64[ns]
ind_nuevo                       int64
antiguedad                      int64
indrel                          int64
indrel_1mes                    object
tiprel_1mes                    object
indresi                        object
indext                         object
conyuemp                       object
canal_entrada                  object
indfall                        object
nomprov                        object
ind_actividad_cliente           int64
renta                         float64
segmento                       object
ult_primary                     int64

In [199]:
train2_dtype = pd.DataFrame(train2[feature].dtypes)
train2_dtype

                                    0
fecha_dato             datetime64[ns]
ncodpers                        int64
ind_empleado                   object
pais_residencia                object
sexo                           object
age                             int64
fecha_alta             datetime64[ns]
ind_nuevo                     float64
antiguedad                      int64
indrel                        float64
indrel_1mes                    object
tiprel_1mes                    object
indresi                        object
indext                         object
conyuemp                       object
canal_entrada                  object
indfall                        object
nomprov                        object
ind_actividad_cliente         float64
renta                         float64
segmento                       object
ult_primary                     int64

In [202]:
na_check5 = pd.Series.to_frame(train2.isnull().sum())
na_check5.columns = ['missing']
na_check5['percent'] = na_check5['missing']/train2.shape[0]
na_check5

                       missing  percent
fecha_dato                   0      0.0
ncodpers                     0      0.0
ind_empleado                 0      0.0
pais_residencia              0      0.0
sexo                         0      0.0
age                          0      0.0
fecha_alta                   0      0.0
ind_nuevo                    0      0.0
antiguedad                   0      0.0
indrel                       0      0.0
indrel_1mes                  0      0.0
tiprel_1mes                  0      0.0
indresi                      0      0.0
indext                       0      0.0
conyuemp                     0      0.0
canal_entrada                0      0.0
indfall                      0      0.0
nomprov                      0      0.0
ind_actividad_cliente        0      0.0
renta                        0      0.0
segmento                     0      0.0
ind_ahor_fin_ult1            0      0.0
ind_aval_fin_ult1            0      0.0
ind_cco_fin_ult1             0      0.0
ind_cder_fin_ult1            0      0.0
ind_cno_fin_ult1             0      0.0
ind_ctju_fin_ult1            0      0.0
ind_ctma_fin_ult1            0      0.0
ind_ctop_fin_ult1            0      0.0
ind_ctpp_fin_ult1            0      0.0
ind_deco_fin_ult1            0      0.0
ind_deme_fin_ult1            0      0.0
ind_dela_fin_ult1            0      0.0
ind_ecue_fin_ult1            0      0.0
ind_fond_fin_ult1            0      0.0
ind_hip_fin_ult1             0      0.0
ind_plan_fin_ult1            0      0.0
ind_pres_fin_ult1            0      0.0
ind_reca_fin_ult1            0      0.0
ind_tjcr_fin_ult1            0      0.0
ind_valo_fin_ult1            0      0.0
ind_viv_fin_ult1             0      0.0
ind_nomina_ult1              0      0.0
ind_nom_pens_ult1            0      0.0
ind_recibo_ult1              0      0.0
ult_primary                  0      0.0

In [203]:
na_check6 = pd.Series.to_frame(test2.isnull().sum())
na_check6.columns = ['missing']
na_check6['percent'] = na_check6['missing']/test2.shape[0]
na_check6

                       missing   percent
fecha_dato                   0  0.000000
ncodpers                     0  0.000000
ind_empleado                 0  0.000000
pais_residencia              0  0.000000
sexo                         0  0.000000
age                          0  0.000000
fecha_alta                   0  0.000000
ind_nuevo                    0  0.000000
antiguedad                   0  0.000000
indrel                       0  0.000000
indrel_1mes                  0  0.000000
tiprel_1mes                  0  0.000000
indresi                      0  0.000000
indext                       0  0.000000
conyuemp                     0  0.000000
canal_entrada                0  0.000000
indfall                      0  0.000000
nomprov                      0  0.000000
ind_actividad_cliente        0  0.000000
renta                   227965  0.245225
segmento                     0  0.000000
ult_primary                  0  0.000000

##### renta

In [209]:
null_renta = test2[test2['renta'].isnull()]['ncodpers']
renta_info = train2[train2.ncodpers.isin(null_renta)][['ncodpers', 'renta']].drop_duplicates()

In [210]:
renta_info.head()

    ncodpers      renta
4    1050614   99950.28
8    1050619   80599.14
11   1050622  108963.21
14   1050625   74692.71
15   1050626  131214.48

In [212]:
renta_unique = renta_info.groupby('ncodpers', as_index = False).agg({'renta': lambda x: tuple(x)[-1]})

In [213]:
renta_unique = renta_unique.set_index('ncodpers')

In [214]:
nc_renta = test2[test2.renta.isnull()]['ncodpers']

In [215]:
renta_unique = renta_unique.loc[nc_renta]

In [219]:
test2.loc[test2.renta.isnull(), 'renta'] = renta_unique['renta'].values

In [220]:
test2['renta'].isnull().sum()

0

In [16]:
root ='/Users/mengruiyin/Dropbox/project2'

In [226]:
train2.to_csv(root + '/train2_newst.csv', index = False)

In [227]:
test2.to_csv(root + '/test2_newst.csv', index = False)

In [10]:
train2 = pd.read_csv(root + '/train2_newst.csv')

/Users/mengruiyin/.local/lib/python2.7/site-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (10) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [238]:
train2.head()

,fecha_dato,ncodpers,ind_empleado,pais_residencia,sexo,age,fecha_alta,ind_nuevo,antiguedad,indrel,indrel_1mes,tiprel_1mes,indresi,indext,conyuemp,canal_entrada,indfall,nomprov,ind_actividad_cliente,renta,segmento,ind_ahor_fin_ult1,ind_aval_fin_ult1,ind_cco_fin_ult1,ind_cder_fin_ult1,ind_cno_fin_ult1,ind_ctju_fin_ult1,ind_ctma_fin_ult1,ind_ctop_fin_ult1,ind_ctpp_fin_ult1,ind_deco_fin_ult1,ind_deme_fin_ult1,ind_dela_fin_ult1,ind_ecue_fin_ult1,ind_fond_fin_ult1,ind_hip_fin_ult1,ind_plan_fin_ult1,ind_pres_fin_ult1,ind_reca_fin_ult1,ind_tjcr_fin_ult1,ind_valo_fin_ult1,ind_viv_fin_ult1,ind_nomina_ult1,ind_nom_pens_ult1,ind_recibo_ult1,ult_primary
0,2015-01-28,1375586,N,ES,H,35,2015-01-12,0.0,6,1.0,1,A,S,N,unknown,KHL,N,MALAGA,1.0,87218.10,02 - PARTICULARES,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0,1
1,2015-01-28,1050611,N,ES,V,23,2012-08-10,0.0,35,1.0,1,I,S,S,unknown,KHE,N,CIUDAD REAL,0.0,35548.74,03 - UNIVERSITARIO,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0,1
2,2015-01-28,1050612,N,ES,V,23,2012-08-10,0.0,35,1.0,1,I,S,N,unknown,KHE,N,CIUDAD REAL,0.0,122179.11,01 - TOP,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0,1
3,2015-01-28,1050613,N,ES,H,22,2012-08-10,0.0,35,1.0,1,I,S,N,unknown,KHD,N,ZARAGOZA,0.0,119775.54,01 - TOP,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0,1
4,2015-01-28,1050614,N,ES,V,23,2012-08-10,0.0,35,1.0,1,A,S,N,unknown,KHE,N,ZARAGOZA,1.0,99950.28,02 - PARTICULARES,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0,1

In [239]:
test2 = pd.read_csv(root + '/test2_newst.csv')

### transform data

In [240]:
test2.antiguedad.describe()

count    929615.000000
mean         77.728413
std        1797.824518
min     -999999.000000
25%          23.000000
50%          55.000000
75%         136.000000
max         257.000000
Name: antiguedad, dtype: float64

step1: 
* age: change age greater than 75 to 83. (actually, at first I deleted the observations whose age greater than 75. However then I realized doing this will decrease data in testing data.)
* bins: created based on age
* fecha_alta_year, month and weekday: ectracted from fecha_alta
* antiguedad: for observations who has extreme large number in seniority, I changed them to median of seniority. 
* antiguedad_years: derived by using seniority deviding by 12

In [277]:
def add_feature(df):
    #age 
    df.loc[df.age > 75,"age"] = 83
    bins = [0, 10, 20, 30, 40, 50, 60, 70, 80, 90]
    labels=["1-10", "11-20", "21-30","31-40", "41-50", "51-60", "61-70", "71-80", "81-90"]
    df['bins'] = pd.cut(df['age'], bins=bins, labels=labels, include_lowest=True)
    #date
    df['fecha_alta_year'] = pd.DatetimeIndex(df.fecha_alta).year - 1995
    #df['fecha_dato_year'] = pd.DatetimeIndex(df.fecha_dato).year - 2015
    df['fecha_alta_month'] = pd.DatetimeIndex(df.fecha_alta).month - 1
    #df['fecha_dato_month'] = pd.DatetimeIndex(df.fecha_dato).month - 1
    #df['fecha_alta_year'] = pd.DatetimeIndex(df.fecha_alta).year - 1995
    #df['fecha_dato_year'] = pd.DatetimeIndex(df.fecha_dato).year - 2015
    #df['fecha_alta_month'] = pd.DatetimeIndex(df.fecha_alta).month - 1
    df['fecha_alta_weekday'] = pd.DatetimeIndex(df.fecha_alta).weekday
    #df['fecha_alta_wom'] = df.fecha_alta.apply(week_of_month)
    #df['fecha_dato_month'] = pd.DatetimeIndex(df.fecha_dato).month - 1
    #antiguedad
    df.loc[df.antiguedad == -999999, 'antiguedad'] = df['antiguedad'].median()
    df['antiguedad_years'] = df.antiguedad // 12
    #marriage
    #df['marriage'] = np.where(df.age > 25, 1, 0)
    return df

In [278]:
train2 = add_feature(train2)

In [272]:
test2 = add_feature(test2)

In [281]:
feature2 = train2.columns[~train2.columns.isin(product)]
feature2

Index([u'fecha_dato', u'ncodpers', u'ind_empleado', u'pais_residencia',
       u'sexo', u'age', u'fecha_alta', u'ind_nuevo', u'antiguedad', u'indrel',
       u'indrel_1mes', u'tiprel_1mes', u'indresi', u'indext', u'conyuemp',
       u'canal_entrada', u'indfall', u'nomprov', u'ind_actividad_cliente',
       u'renta', u'segmento', u'ult_primary', u'bins', u'fecha_alta_year',
       u'fecha_alta_month', u'fecha_alta_weekday', u'antiguedad_years',
       u'marriage'],
      dtype='object')

In [282]:
feature2.equals(test2.columns)

True

In [286]:
train2.to_csv(root + '/train2_newst.csv', index = False)

In [287]:
test2.to_csv(root + '/test2_newst.csv', index = False)

In [21]:
train2 = pd.read_csv(root + '/train2_newst.csv')

In [22]:
test2 = pd.read_csv(root + '/test2_newst.csv')

step2: check whether categorical varialbes have the same class in training and testing set
(since at first to fit model, I convert all categorical variables to dummy variable. However, for some variables, testing set don't have the same number values as training data. That will result in testing set don't have the same features as training data.  
* for categorical variables that training and testing set have different values(indrel_1mes and tiprel_1mes) and for categorical variables that have too many values(country, province, channel and bins), I encoded these variables.
* for other categorical variables, I transformed to dummy variables.

In [29]:
train2.dtypes

fecha_dato                object
ncodpers                   int64
ind_empleado              object
pais_residencia           object
sexo                      object
age                        int64
fecha_alta                object
ind_nuevo                float64
antiguedad               float64
indrel                   float64
indrel_1mes               object
tiprel_1mes               object
indresi                   object
indext                    object
conyuemp                  object
canal_entrada             object
indfall                   object
nomprov                   object
ind_actividad_cliente    float64
renta                    float64
segmento                  object
ind_ahor_fin_ult1          int64
ind_aval_fin_ult1          int64
ind_cco_fin_ult1           int64
ind_cder_fin_ult1          int64
ind_cno_fin_ult1           int64
ind_ctju_fin_ult1          int64
ind_ctma_fin_ult1          int64
ind_ctop_fin_ult1          int64
ind_ctpp_fin_ult1          int64
ind_deco_fin_ult1          int64
ind_deme_fin_ult1          int64
ind_dela_fin_ult1          int64
ind_ecue_fin_ult1          int64
ind_fond_fin_ult1          int64
ind_hip_fin_ult1           int64
ind_plan_fin_ult1          int64
ind_pres_fin_ult1          int64
ind_reca_fin_ult1          int64
ind_tjcr_fin_ult1          int64
ind_valo_fin_ult1          int64
ind_viv_fin_ult1           int64
ind_nomina_ult1          float64
ind_nom_pens_ult1        float64
ind_recibo_ult1            int64
ult_primary                int64
bins                      object
fecha_alta_year            int64
fecha_alta_month           int64
fecha_alta_weekday         int64
antiguedad_years         float64
marriage                   int64
dtype: object

In [30]:
test2.dtypes

fecha_dato                object
ncodpers                   int64
ind_empleado              object
pais_residencia           object
sexo                      object
age                        int64
fecha_alta                object
ind_nuevo                  int64
antiguedad               float64
indrel                     int64
indrel_1mes              float64
tiprel_1mes               object
indresi                   object
indext                    object
conyuemp                  object
canal_entrada             object
indfall                   object
nomprov                   object
ind_actividad_cliente      int64
renta                    float64
segmento                  object
ult_primary                int64
bins                      object
fecha_alta_year            int64
fecha_alta_month           int64
fecha_alta_weekday         int64
antiguedad_years         float64
marriage                   int64
dtype: object

In [31]:
test2['indrel_1mes'] = test2['indrel_1mes'].astype('object')

In [42]:
train2.indrel_1mes[(train2.indrel_1mes == '1.0') | (train2.indrel_1mes == '1')] = 1.0
train2.indrel_1mes[(train2.indrel_1mes == '2.0') | (train2.indrel_1mes == '2')] = 2.0
train2.indrel_1mes[(train2.indrel_1mes == '3.0') | (train2.indrel_1mes == '3')] = 3.0
train2.indrel_1mes[(train2.indrel_1mes == '4.0') | (train2.indrel_1mes == '4')] = 4.0

/Users/mengruiyin/anaconda/lib/python2.7/site-packages/ipykernel/__main__.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':
/Users/mengruiyin/anaconda/lib/python2.7/site-packages/ipykernel/__main__.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  from ipykernel import kernelapp as app
/Users/mengruiyin/anaconda/lib/python2.7/site-packages/ipykernel/__main__.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  app.launch_new_instance()
/Users/mengruiyin/anaconda/lib/python2.7/site-packages/ipykernel/__main__.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [45]:
qual = test2.columns[test2.dtypes == 'object']
qual

Index([u'fecha_dato', u'ind_empleado', u'pais_residencia', u'sexo',
       u'fecha_alta', u'indrel_1mes', u'tiprel_1mes', u'indresi', u'indext',
       u'conyuemp', u'canal_entrada', u'indfall', u'nomprov', u'segmento',
       u'bins'],
      dtype='object')

In [46]:
check_col = ['ind_empleado', 'sexo',
        'indrel_1mes', 'tiprel_1mes',
       'indresi', 'indext', 'indfall',
       'nomprov', 'segmento', 'bins']

In [47]:
diff_col = []
for col in check_col:
    valuecount1 =  pd.DataFrame(train2[col].value_counts()).index
    valuecount2 =  pd.DataFrame(test2[col].value_counts()).index
    #if len(valuecount1) == len(valuecount2):
    #    com = valuecount1 == valuecount2
    #if False in com or len(valuecount1) != len(valuecount2):
    if len(valuecount1) != len(valuecount2):
         diff_col.append(col)
    print 'finish checking for ' + str(col)

finish checking for ind_empleado
finish checking for sexo
finish checking for indrel_1mes
finish checking for tiprel_1mes
finish checking for indresi
finish checking for indext
finish checking for indfall
finish checking for nomprov
finish checking for segmento
finish checking for bins

In [48]:
diff_col

['indrel_1mes', 'tiprel_1mes']

In [53]:
def convert_type(df):
    df.pais_residencia = df.pais_residencia.astype('category').cat.codes
    df.canal_entrada = df.canal_entrada.astype('category').cat.codes
    df.nomprov = df.nomprov.astype('category').cat.codes
    df.indrel_1mes = df.indrel_1mes.astype('category').cat.codes
    df.tiprel_1mes = df.tiprel_1mes.astype('category').cat.codes
    df.bins = df.bins.astype('category').cat.codes
    df = pd.get_dummies(df, columns = ['ind_empleado','sexo', 'indresi',
                                   'indext','conyuemp','indfall','segmento'])
    df.drop(columns = ['fecha_alta'], inplace = True)
    return df

In [54]:
train2 = convert_type(train2)

In [55]:
test2 = convert_type(test2)

In [59]:
feature3 = train2.columns[~train2.columns.isin(product)]
feature3

Index([u'fecha_dato', u'ncodpers', u'pais_residencia', u'age', u'ind_nuevo',
       u'antiguedad', u'indrel', u'indrel_1mes', u'tiprel_1mes',
       u'canal_entrada', u'nomprov', u'ind_actividad_cliente', u'renta',
       u'ult_primary', u'bins', u'fecha_alta_year', u'fecha_alta_month',
       u'fecha_alta_weekday', u'antiguedad_years', u'marriage',
       u'ind_empleado_A', u'ind_empleado_B', u'ind_empleado_F',
       u'ind_empleado_N', u'ind_empleado_S', u'sexo_H', u'sexo_V',
       u'indresi_N', u'indresi_S', u'indext_N', u'indext_S', u'conyuemp_N',
       u'conyuemp_S', u'conyuemp_unknown', u'indfall_N', u'indfall_S',
       u'segmento_01 - TOP', u'segmento_02 - PARTICULARES',
       u'segmento_03 - UNIVERSITARIO'],
      dtype='object')

In [61]:
test2.columns.equals(feature3)

True

In [62]:
train2.to_csv(root + '/train3_newst.csv', index = False)

In [17]:
train2 = pd.read_csv(root + '/train3_newst.csv')

In [63]:
test2.to_csv(root + '/test3_newst.csv', index = False)

In [18]:
test2 = pd.read_csv(root + '/test3_newst.csv')

In [19]:
train2['card number'] = train2[product].sum(axis = 1)

### merge lag_data

In [20]:
# I will merge these variables values in previous month as new features.
lag_feature = ['age', 'ind_nuevo', 'antiguedad', 'card number', 'indrel_1mes', 'tiprel_1mes', 
               'ind_actividad_cliente', 'segmento_02 - PARTICULARES', 'segmento_03 - UNIVERSITARIO']

In [21]:
product2_0 = product[:]
product2_2 = product2_0 + lag_feature

In [22]:
# extract current month and previous month
def month_product(df, date):
    month_product = df[df.fecha_dato == date]
    #month_product = month[product1]
    month_product_long = pd.melt(month_product, id_vars=['ncodpers'], value_vars = product)
    return month_product_long.sort_values('ncodpers')

In [23]:
def find_new_customers(previous_df, later_df, month):
    previous_later = pd.merge(previous_df, later_df, on = ['ncodpers', 'variable'], how = 'right')
    p0_l1 = previous_later.loc[((previous_later.value_x == 0) & (previous_later.value_y == 1))| #may did not hold but june hold
                          ((previous_later.value_x.isnull()) & (previous_later.value_y == 1))] #may did not have recored, but have record in June
    p0_l1_cardnum = p0_l1.groupby('ncodpers', as_index = False)['variable'].count()
    unique_id_month = p0_l1_cardnum.ncodpers.unique()
    new_card_number = len(pd.DataFrame(p0_l1.variable.value_counts()).index)
    print ('there are ' + str(new_card_number) + ' types of new cards in ' + str(month))
    print
    print p0_l1.variable.value_counts()
    print
    print ('there are ' + str(len(unique_id_month)) + ' customers who buy new products in '+ str(month))
    print 
    print p0_l1_cardnum.groupby('variable')['ncodpers'].count() 
    print
    month_data_new = p0_l1.pivot(index="ncodpers", values="value_y", columns="variable")
    month_data_new.fillna(0, inplace = True)
    month_data_new['ncodpers'] = month_data_new.index
    return month_data_new

In [24]:
# function to get single lag data
def get_lag_data(data, date, lag_number):
    lag_data = data[data.fecha_dato == date]
    lag_sub = lag_data[product2_2]
    lag_sub.columns = [str(col) + '_lag'+str(lag_number) for col in lag_sub.columns]
    lag_sub['ncodpers'] = lag_data['ncodpers']
    return lag_sub

In [25]:
def previous_month(data, date):
    lag_months = data.fecha_dato.unique()[data.fecha_dato.unique() < date]
    return lag_months

In [26]:
# merge them with current month 
def new_data(data, df,date):
    base_data = df.copy()
    for index, item in enumerate(previous_month(data,date)):
        lag_sub= get_lag_data(data, item, index+1)
        base_data = pd.merge(base_data, lag_sub, how='left', on=['ncodpers'])
    feature = data[data.fecha_dato == date].drop(columns = product)
    data_new = pd.merge(base_data, feature, how='left', on = ['ncodpers'])
    return data_new

In [27]:
# wrap to a function
def proprecessing(data, later_date, previous_date, month):
    later_month = month_product(data, later_date)
    previous_month = month_product(data, previous_date)
    month_data = find_new_customers(previous_month, later_month, month) # month = 'June'
    month_new = new_data(data, month_data, later_date) #month_data = june_2015_data
    #month_new = month_new[month_new.columns.drop(list(month_new.filter(regex='ncodpers_lag')))]
    return month_new

In [28]:
month = ['2015-01-28', '2015-02-28', '2015-03-28', '2015-04-28',
       '2015-05-28', '2015-06-28', '2015-07-28', '2015-08-28',
       '2015-09-28', '2015-10-28', '2015-11-28', '2015-12-28',
       '2016-01-28', '2016-02-28', '2016-03-28', '2016-04-28',
       '2016-05-28']
month

['2015-01-28',
 '2015-02-28',
 '2015-03-28',
 '2015-04-28',
 '2015-05-28',
 '2015-06-28',
 '2015-07-28',
 '2015-08-28',
 '2015-09-28',
 '2015-10-28',
 '2015-11-28',
 '2015-12-28',
 '2016-01-28',
 '2016-02-28',
 '2016-03-28',
 '2016-04-28',
 '2016-05-28']

In [29]:
month_name = ['Jan-2015', 'Feb-2015', 'Mar-2015', 'April-2015', 'May-2015', 'June-2015', 'July-2015', 'Aug-2015', 
             'Sep-2015', 'Oct-2015', 'Nov-2015', 'Dec-2015', 'Jan-2016', 'Feb-2016', 'Mar-2016', 'April-2016',
             'May-2016']

In [11]:
lag_June15 = proprecessing(train2, month[5], month[4], month_name[4])

NameError: name 'proprecessing' is not defined

In [23]:
lag_Dec15 = proprecessing(train2, month[11], month[10], month_name[11])

there are 21 types of new cards in Dec-2015

ind_cco_fin_ult1     12096
ind_recibo_ult1       9962
ind_nom_pens_ult1     5211
ind_nomina_ult1       5133
ind_tjcr_fin_ult1     4298
ind_cno_fin_ult1      4033
ind_ecue_fin_ult1     1826
ind_dela_fin_ult1     1277
ind_ctma_fin_ult1      806
ind_ctop_fin_ult1      283
ind_valo_fin_ult1      261
ind_reca_fin_ult1      240
ind_fond_fin_ult1      206
ind_ctju_fin_ult1      170
ind_plan_fin_ult1      168
ind_ctpp_fin_ult1      155
ind_pres_fin_ult1       11
ind_cder_fin_ult1        9
ind_viv_fin_ult1         8
ind_deco_fin_ult1        8
ind_hip_fin_ult1         3
Name: variable, dtype: int64

there are 37108 customers who buy new products in Dec-2015

variable
1    30348
2     4740
3     1764
4      237
5       18
6        1
Name: ncodpers, dtype: int64

/Users/mengruiyin/anaconda/lib/python2.7/site-packages/ipykernel/__main__.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [27]:
lag_May16 = proprecessing(train2, month[16], month[15], month_name[16])

there are 21 types of new cards in May-2016

ind_recibo_ult1      10220
ind_nom_pens_ult1     5541
ind_nomina_ult1       5516
ind_cco_fin_ult1      5511
ind_tjcr_fin_ult1     4252
ind_ecue_fin_ult1     2723
ind_cno_fin_ult1      2369
ind_ctma_fin_ult1      713
ind_reca_fin_ult1      283
ind_ctop_fin_ult1      226
ind_valo_fin_ult1      183
ind_ctpp_fin_ult1      131
ind_ctju_fin_ult1       77
ind_fond_fin_ult1       61
ind_dela_fin_ult1       46
ind_plan_fin_ult1       22
ind_viv_fin_ult1         7
ind_pres_fin_ult1        7
ind_cder_fin_ult1        5
ind_hip_fin_ult1         3
ind_ahor_fin_ult1        1
Name: variable, dtype: int64

there are 29717 customers who buy new products in May-2016

variable
1    23232
2     4960
3     1368
4      145
5       11
6        1
Name: ncodpers, dtype: int64

/Users/mengruiyin/anaconda/lib/python2.7/site-packages/ipykernel/__main__.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [12]:
name = ['lag_Jan15', 'lag_Feb15', 'lag_Mar15', 'lag_April15', 'lag_May15', 'lag_July15', 'lag_Aug15', 'lag_Sep15', 'lag_Oct15',
       'lag_Nov15', 'lag_Dec15', 'lag_Jan16', 'lag_Feb16', 'lag_Mar16', 'lag_April16', 'lag_May16']

In [13]:
month[1]

'2015-02-28'

In [144]:
new_each_month = {}
root = '/Users/mengruiyin/Dropbox/project2'
for index in range(1, 5):
    print ('statistics for ' + str(month_name[index]))
    new_each_month[index] = proprecessing(train2, month[index], month[index-1], month_name[index])
    print('finish for ' + str(month_name[index]))
    new_each_month[index].to_csv(root +'/lagdata_'+ str(name[index]) + '.csv')

statistics for Feb-2015
there are 22 types of new cards in Feb-2015

ind_recibo_ult1      8344
ind_nom_pens_ult1    5717
ind_nomina_ult1      5712
ind_cco_fin_ult1     5701
ind_tjcr_fin_ult1    3541
ind_cno_fin_ult1     1958
ind_ecue_fin_ult1    1453
ind_dela_fin_ult1     786
ind_deco_fin_ult1     758
ind_fond_fin_ult1     456
ind_ctma_fin_ult1     394
ind_valo_fin_ult1     270
ind_ctop_fin_ult1     260
ind_reca_fin_ult1     214
ind_ctpp_fin_ult1     173
ind_ctju_fin_ult1      53
ind_deme_fin_ult1      33
ind_plan_fin_ult1      31
ind_cder_fin_ult1      12
ind_pres_fin_ult1       9
ind_viv_fin_ult1        8
ind_hip_fin_ult1        5
Name: variable, dtype: int64

there are 27782 customers who buy new products in Feb-2015

variable
1    21030
2     5531
3     1097
4      115
5        9
Name: ncodpers, dtype: int64

/Users/mengruiyin/anaconda/lib/python2.7/site-packages/ipykernel/__main__.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

finish for Feb-2015
statistics for Mar-2015
there are 22 types of new cards in Mar-2015

ind_recibo_ult1      9240
ind_cco_fin_ult1     5618
ind_tjcr_fin_ult1    5171
ind_nomina_ult1      4562
ind_nom_pens_ult1    4558
ind_cno_fin_ult1     1846
ind_ecue_fin_ult1    1581
ind_dela_fin_ult1     906
ind_deco_fin_ult1     743
ind_fond_fin_ult1     578
ind_ctma_fin_ult1     400
ind_ctop_fin_ult1     289
ind_reca_fin_ult1     216
ind_valo_fin_ult1     211
ind_ctpp_fin_ult1     167
ind_ctju_fin_ult1      74
ind_plan_fin_ult1      26
ind_deme_fin_ult1      23
ind_cder_fin_ult1      17
ind_pres_fin_ult1      13
ind_hip_fin_ult1        7
ind_viv_fin_ult1        4
Name: variable, dtype: int64

there are 28926 customers who buy new products in Mar-2015

variable
1    23023
2     4633
3     1127
4      136
5        6
6        1
Name: ncodpers, dtype: int64

finish for Mar-2015
statistics for April-2015
there are 22 types of new cards in April-2015

ind_recibo_ult1      8449
ind_nom_pens_ult1    5706
ind_cco_fin_ult1     5274
ind_tjcr_fin_ult1    4722
ind_nomina_ult1      2739
ind_cno_fin_ult1     2065
ind_ecue_fin_ult1    1462
ind_dela_fin_ult1     879
ind_reca_fin_ult1     876
ind_fond_fin_ult1     501
ind_deco_fin_ult1     485
ind_ctma_fin_ult1     324
ind_ctop_fin_ult1     280
ind_valo_fin_ult1     198
ind_ctpp_fin_ult1     173
ind_ctju_fin_ult1      69
ind_deme_fin_ult1      26
ind_plan_fin_ult1      24
ind_pres_fin_ult1      18
ind_cder_fin_ult1      12
ind_viv_fin_ult1        5
ind_hip_fin_ult1        4
Name: variable, dtype: int64

there are 28864 customers who buy new products in April-2015

variable
1    24585
2     3258
3      905
4      106
5        9
6        1
Name: ncodpers, dtype: int64

finish for April-2015
statistics for May-2015
there are 22 types of new cards in May-2015

ind_recibo_ult1      7166
ind_cco_fin_ult1     5297
ind_tjcr_fin_ult1    4191
ind_nomina_ult1      3427
ind_nom_pens_ult1    3406
ind_cno_fin_ult1     1984
ind_ecue_fin_ult1    1460
ind_dela_fin_ult1    1005
ind_deco_fin_ult1     435
ind_fond_fin_ult1     418
ind_reca_fin_ult1     341
ind_ctma_fin_ult1     308
ind_ctop_fin_ult1     298
ind_valo_fin_ult1     213
ind_ctpp_fin_ult1     174
ind_ctju_fin_ult1      84
ind_deme_fin_ult1      25
ind_plan_fin_ult1      24
ind_pres_fin_ult1      11
ind_hip_fin_ult1        9
ind_cder_fin_ult1       7
ind_viv_fin_ult1        4
Name: variable, dtype: int64

there are 24758 customers who buy new products in May-2015

variable
1    20354
2     3379
3      928
4       94
5        3
Name: ncodpers, dtype: int64

finish for May-2015

In [147]:
for index in range(6, 17):
    print ('statistics for ' + str(month_name[index]))
    new_each_month[index] = proprecessing(train2, month[index], month[index-1], month_name[index])
    print('finish for ' + str(month_name[index]))
    new_each_month[index].to_csv(root +'/lagdata_'+ str(name[index]) + '.csv')

statistics for July-2015
there are 22 types of new cards in July-2015

ind_cco_fin_ult1     15585
ind_recibo_ult1       9320
ind_nom_pens_ult1     5026
ind_tjcr_fin_ult1     5021
ind_nomina_ult1       4569
ind_cno_fin_ult1      2888
ind_dela_fin_ult1     1282
ind_ecue_fin_ult1     1106
ind_reca_fin_ult1      598
ind_deco_fin_ult1      526
ind_ctma_fin_ult1      356
ind_ctop_fin_ult1      265
ind_valo_fin_ult1      240
ind_fond_fin_ult1      207
ind_ctpp_fin_ult1      165
ind_ctju_fin_ult1       79
ind_plan_fin_ult1       28
ind_deme_fin_ult1       24
ind_cder_fin_ult1       11
ind_viv_fin_ult1         9
ind_hip_fin_ult1         6
ind_pres_fin_ult1        5
Name: variable, dtype: int64

there are 39324 customers who buy new products in July-2015

variable
1    33252
2     4351
3     1538
4      169
5       12
6        2
Name: ncodpers, dtype: int64

/Users/mengruiyin/anaconda/lib/python2.7/site-packages/ipykernel/__main__.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

finish for July-2015
statistics for Aug-2015
there are 22 types of new cards in Aug-2015

ind_cco_fin_ult1     16559
ind_recibo_ult1       7186
ind_tjcr_fin_ult1     4383
ind_nom_pens_ult1     3005
ind_nomina_ult1       2987
ind_cno_fin_ult1      2448
ind_dela_fin_ult1     1073
ind_ecue_fin_ult1      930
ind_deco_fin_ult1      508
ind_valo_fin_ult1      447
ind_ctma_fin_ult1      347
ind_reca_fin_ult1      266
ind_ctop_fin_ult1      231
ind_fond_fin_ult1      224
ind_ctpp_fin_ult1      145
ind_ctju_fin_ult1       65
ind_deme_fin_ult1       33
ind_plan_fin_ult1       22
ind_pres_fin_ult1       13
ind_cder_fin_ult1       11
ind_viv_fin_ult1         2
ind_hip_fin_ult1         1
Name: variable, dtype: int64

there are 35385 customers who buy new products in Aug-2015

variable
1    31296
2     2798
3     1178
4      108
5        3
6        1
7        1
Name: ncodpers, dtype: int64

finish for Aug-2015
statistics for Sep-2015
there are 22 types of new cards in Sep-2015

ind_cco_fin_ult1     20255
ind_recibo_ult1      11303
ind_nom_pens_ult1     4799
ind_nomina_ult1       4727
ind_tjcr_fin_ult1     4466
ind_cno_fin_ult1      1811
ind_dela_fin_ult1     1411
ind_ecue_fin_ult1     1081
ind_ctma_fin_ult1      582
ind_deco_fin_ult1      581
ind_valo_fin_ult1      331
ind_reca_fin_ult1      272
ind_ctop_fin_ult1      191
ind_fond_fin_ult1      133
ind_ctpp_fin_ult1      122
ind_ctju_fin_ult1       52
ind_deme_fin_ult1       30
ind_plan_fin_ult1       23
ind_pres_fin_ult1       13
ind_hip_fin_ult1         8
ind_cder_fin_ult1        7
ind_viv_fin_ult1         2
Name: variable, dtype: int64

there are 44580 customers who buy new products in Sep-2015

variable
1    38384
2     4914
3     1148
4      126
5        8
Name: ncodpers, dtype: int64

finish for Sep-2015
statistics for Oct-2015
there are 22 types of new cards in Oct-2015

ind_cco_fin_ult1     21727
ind_recibo_ult1      12195
ind_nomina_ult1       4872
ind_nom_pens_ult1     4845
ind_tjcr_fin_ult1     4462
ind_cno_fin_ult1      2450
ind_dela_fin_ult1     1472
ind_ecue_fin_ult1     1216
ind_valo_fin_ult1      914
ind_reca_fin_ult1      600
ind_ctma_fin_ult1      589
ind_deco_fin_ult1      472
ind_ctop_fin_ult1      224
ind_ctpp_fin_ult1      153
ind_fond_fin_ult1      148
ind_ctju_fin_ult1       74
ind_deme_fin_ult1       22
ind_plan_fin_ult1       20
ind_pres_fin_ult1        9
ind_hip_fin_ult1         7
ind_cder_fin_ult1        3
ind_viv_fin_ult1         2
Name: variable, dtype: int64

there are 48507 customers who buy new products in Oct-2015

variable
1    42267
2     4682
3     1399
4      148
5       10
6        1
Name: ncodpers, dtype: int64

finish for Oct-2015
statistics for Nov-2015
there are 22 types of new cards in Nov-2015

ind_cco_fin_ult1     13034
ind_recibo_ult1      10182
ind_nom_pens_ult1     4475
ind_nomina_ult1       4460
ind_tjcr_fin_ult1     4317
ind_cno_fin_ult1      3039
ind_ecue_fin_ult1     1597
ind_dela_fin_ult1      971
ind_ctma_fin_ult1      823
ind_reca_fin_ult1      425
ind_ctop_fin_ult1      209
ind_fond_fin_ult1      171
ind_ctpp_fin_ult1      140
ind_valo_fin_ult1      135
ind_deco_fin_ult1      115
ind_ctju_fin_ult1       74
ind_plan_fin_ult1       40
ind_pres_fin_ult1        9
ind_cder_fin_ult1        6
ind_viv_fin_ult1         5
ind_hip_fin_ult1         3
ind_deme_fin_ult1        1
Name: variable, dtype: int64

there are 36678 customers who buy new products in Nov-2015

variable
1    30955
2     4098
3     1437
4      172
5       15
6        1
Name: ncodpers, dtype: int64

finish for Nov-2015
statistics for Dec-2015
there are 21 types of new cards in Dec-2015

ind_cco_fin_ult1     12096
ind_recibo_ult1       9962
ind_nom_pens_ult1     5211
ind_nomina_ult1       5133
ind_tjcr_fin_ult1     4298
ind_cno_fin_ult1      4033
ind_ecue_fin_ult1     1826
ind_dela_fin_ult1     1277
ind_ctma_fin_ult1      806
ind_ctop_fin_ult1      283
ind_valo_fin_ult1      261
ind_reca_fin_ult1      240
ind_fond_fin_ult1      206
ind_ctju_fin_ult1      170
ind_plan_fin_ult1      168
ind_ctpp_fin_ult1      155
ind_pres_fin_ult1       11
ind_cder_fin_ult1        9
ind_viv_fin_ult1         8
ind_deco_fin_ult1        8
ind_hip_fin_ult1         3
Name: variable, dtype: int64

there are 37108 customers who buy new products in Dec-2015

variable
1    30348
2     4740
3     1764
4      237
5       18
6        1
Name: ncodpers, dtype: int64

finish for Dec-2015
statistics for Jan-2016
there are 20 types of new cards in Jan-2016

ind_recibo_ult1      10153
ind_cco_fin_ult1      8210
ind_tjcr_fin_ult1     3794
ind_nom_pens_ult1     2942
ind_nomina_ult1       2487
ind_ecue_fin_ult1     2284
ind_cno_fin_ult1      2213
ind_ctma_fin_ult1      868
ind_valo_fin_ult1      744
ind_dela_fin_ult1      471
ind_reca_fin_ult1      455
ind_ctop_fin_ult1      259
ind_ctpp_fin_ult1      149
ind_fond_fin_ult1      147
ind_plan_fin_ult1      104
ind_ctju_fin_ult1       89
ind_cder_fin_ult1       12
ind_pres_fin_ult1        7
ind_hip_fin_ult1         2
ind_viv_fin_ult1         2
Name: variable, dtype: int64

there are 30331 customers who buy new products in Jan-2016

variable
1    26498
2     2748
3      948
4      131
5        6
Name: ncodpers, dtype: int64

finish for Jan-2016
statistics for Feb-2016
there are 21 types of new cards in Feb-2016

ind_nom_pens_ult1    12731
ind_recibo_ult1      11613
ind_nomina_ult1       9541
ind_cco_fin_ult1      6546
ind_tjcr_fin_ult1     3883
ind_ecue_fin_ult1     2358
ind_cno_fin_ult1      2260
ind_ctma_fin_ult1     1061
ind_dela_fin_ult1      715
ind_reca_fin_ult1      565
ind_valo_fin_ult1      325
ind_ctop_fin_ult1      217
ind_ctpp_fin_ult1      141
ind_ctju_fin_ult1       93
ind_fond_fin_ult1       82
ind_plan_fin_ult1       47
ind_cder_fin_ult1       10
ind_pres_fin_ult1        6
ind_hip_fin_ult1         6
ind_viv_fin_ult1         2
ind_deco_fin_ult1        1
Name: variable, dtype: int64

there are 38902 customers who buy new products in Feb-2016

variable
1    27839
2     9046
3     1808
4      197
5       12
Name: ncodpers, dtype: int64

finish for Feb-2016
statistics for Mar-2016
there are 20 types of new cards in Mar-2016

ind_recibo_ult1      10199
ind_cco_fin_ult1      7136
ind_nom_pens_ult1     5073
ind_nomina_ult1       5009
ind_tjcr_fin_ult1     4407
ind_cno_fin_ult1      2459
ind_ecue_fin_ult1     1918
ind_ctma_fin_ult1      913
ind_dela_fin_ult1      245
ind_ctop_fin_ult1      225
ind_reca_fin_ult1      201
ind_valo_fin_ult1      166
ind_ctpp_fin_ult1      131
ind_fond_fin_ult1       92
ind_ctju_fin_ult1       88
ind_plan_fin_ult1       31
ind_pres_fin_ult1        8
ind_cder_fin_ult1        5
ind_viv_fin_ult1         4
ind_hip_fin_ult1         2
Name: variable, dtype: int64

there are 30544 customers who buy new products in Mar-2016

variable
1    24394
2     4709
3     1278
4      149
5       14
Name: ncodpers, dtype: int64

finish for Mar-2016
statistics for April-2016
there are 20 types of new cards in April-2016

ind_recibo_ult1      9857
ind_cco_fin_ult1     5761
ind_nom_pens_ult1    4474
ind_tjcr_fin_ult1    4107
ind_nomina_ult1      3839
ind_cno_fin_ult1     2424
ind_ecue_fin_ult1    2266
ind_ctma_fin_ult1     854
ind_reca_fin_ult1     812
ind_ctop_fin_ult1     240
ind_ctpp_fin_ult1     161
ind_valo_fin_ult1     132
ind_dela_fin_ult1     101
ind_fond_fin_ult1      85
ind_ctju_fin_ult1      77
ind_plan_fin_ult1      22
ind_cder_fin_ult1       5
ind_hip_fin_ult1        5
ind_pres_fin_ult1       4
ind_viv_fin_ult1        3
Name: variable, dtype: int64

there are 28707 customers who buy new products in April-2016

variable
1    23648
2     3736
3     1187
4      132
5        4
Name: ncodpers, dtype: int64

finish for April-2016
statistics for May-2016
there are 20 types of new cards in May-2016

ind_recibo_ult1      10220
ind_nom_pens_ult1     5541
ind_nomina_ult1       5516
ind_cco_fin_ult1      5511
ind_tjcr_fin_ult1     4252
ind_ecue_fin_ult1     2723
ind_cno_fin_ult1      2369
ind_ctma_fin_ult1      713
ind_reca_fin_ult1      283
ind_ctop_fin_ult1      226
ind_valo_fin_ult1      183
ind_ctpp_fin_ult1      131
ind_ctju_fin_ult1       77
ind_fond_fin_ult1       61
ind_dela_fin_ult1       46
ind_plan_fin_ult1       22
ind_viv_fin_ult1         7
ind_pres_fin_ult1        7
ind_cder_fin_ult1        5
ind_hip_fin_ult1         3
Name: variable, dtype: int64

there are 29716 customers who buy new products in May-2016

variable
1    23231
2     4960
3     1368
4      145
5       11
6        1
Name: ncodpers, dtype: int64

finish for May-2016

IndexError: list index out of range

In [190]:
'ind_aval_fin_ult1' in list(new_each_month[15].columns)

True

In [123]:
lag_June15.to_csv(root + '/lag_June15_2.csv', index = False)

In [25]:
lag_Dec15.to_csv(root + '/lag_Dec15_0611.csv', index = False)

In [29]:
lag_May16.to_csv(root + '/lag_May16_0612.csv', index = False)

In [26]:
lag_Dec15.shape

(37108, 424)

In [14]:
reverse_month = month[::-1]
reverse_month

['2016-05-28',
 '2016-04-28',
 '2016-03-28',
 '2016-02-28',
 '2016-01-28',
 '2015-12-28',
 '2015-11-28',
 '2015-10-28',
 '2015-09-28',
 '2015-08-28',
 '2015-07-28',
 '2015-06-28',
 '2015-05-28',
 '2015-04-28',
 '2015-03-28',
 '2015-02-28',
 '2015-01-28']

In [31]:
reverse_index = [5,4,3,2,1]

In [32]:
test_index = train2.ncodpers.isin(test2.ncodpers)

In [33]:
train_test = train2[test_index]

In [34]:
# merge lag data for testing data
def test_lag_data(range_num):
    base_data = test2.copy()
    for index in (range(range_num)):
        lag_sub = get_lag_data(train_test, reverse_month[index], reverse_index[index]).drop_duplicates()
        base_data = pd.merge(base_data, lag_sub, on = 'ncodpers', how = 'left')
        print 'finish for ' + str(reverse_month[index])
    return base_data

In [35]:
test_lag5 = test_lag_data(5)

/Users/mengruiyin/anaconda/lib/python2.7/site-packages/ipykernel/__main__.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

finish for 2016-05-28
finish for 2016-04-28
finish for 2016-03-28
finish for 2016-02-28
finish for 2016-01-28

In [37]:
test_lag5.shape

(929615, 204)

In [36]:
test_lag5.to_csv(root + '/test_lag5_changename.csv', index = False)

In [130]:
test_lag5.to_csv(root + '/test_lag5_2.csv', index = False)

In [24]:
test_lag5 = pd.read_csv(root + '/test_lag5_2.csv')

In [26]:
test_lag5.shape[1] + 24

213

In [30]:
test_lag = {}

In [32]:
name = ['lag_Jan15', 'lag_Feb15', 'lag_Mar15', 'lag_April15', 'lag_May15', 'lag_Jun15',
        'lag_July15', 'lag_Aug15', 'lag_Sep15', 'lag_Oct15',
       'lag_Nov15', 'lag_Dec15', 'lag_Jan16', 'lag_Feb16', 'lag_Mar16', 'lag_April16', 'lag_May16']

In [35]:
for index in range(1, 16):
    print ('statistics for ' + str(month_name[index]))
    test_lag[index] = test_lag_data(index)
    print('finish for ' + str(month_name[index]))
    test_lag[index].to_csv(root +'/testlag_'+ str(name[index]) + '.csv')

statistics for Feb-2015

/Users/mengruiyin/anaconda/lib/python2.7/site-packages/ipykernel/__main__.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

finish for 2016-05-28
finish for Feb-2015
statistics for Mar-2015
finish for 2016-05-28
finish for 2016-04-28
finish for Mar-2015
statistics for April-2015
finish for 2016-05-28
finish for 2016-04-28
finish for 2016-03-28
finish for April-2015
statistics for May-2015
finish for 2016-05-28
finish for 2016-04-28
finish for 2016-03-28
finish for 2016-02-28
finish for May-2015
statistics for June-2015
finish for 2016-05-28
finish for 2016-04-28
finish for 2016-03-28
finish for 2016-02-28
finish for 2016-01-28
finish for June-2015
statistics for July-2015
finish for 2016-05-28
finish for 2016-04-28
finish for 2016-03-28
finish for 2016-02-28
finish for 2016-01-28
finish for 2015-12-28
finish for July-2015
statistics for Aug-2015
finish for 2016-05-28
finish for 2016-04-28
finish for 2016-03-28
finish for 2016-02-28
finish for 2016-01-28
finish for 2015-12-28
finish for 2015-11-28
finish for Aug-2015
statistics for Sep-2015
finish for 2016-05-28
finish for 2016-04-28
finish for 2016-03-28
finish for 2016-02-28
finish for 2016-01-28
finish for 2015-12-28
finish for 2015-11-28
finish for 2015-10-28
finish for Sep-2015
statistics for Oct-2015
finish for 2016-05-28
finish for 2016-04-28
finish for 2016-03-28
finish for 2016-02-28
finish for 2016-01-28
finish for 2015-12-28
finish for 2015-11-28
finish for 2015-10-28
finish for 2015-09-28
finish for Oct-2015
statistics for Nov-2015
finish for 2016-05-28
finish for 2016-04-28
finish for 2016-03-28
finish for 2016-02-28
finish for 2016-01-28
finish for 2015-12-28
finish for 2015-11-28
finish for 2015-10-28
finish for 2015-09-28
finish for 2015-08-28
finish for Nov-2015
statistics for Dec-2015
finish for 2016-05-28
finish for 2016-04-28
finish for 2016-03-28
finish for 2016-02-28
finish for 2016-01-28
finish for 2015-12-28
finish for 2015-11-28
finish for 2015-10-28
finish for 2015-09-28
finish for 2015-08-28
finish for 2015-07-28
finish for Dec-2015
statistics for Jan-2016
finish for 2016-05-28
finish for 2016-04-28
finish for 2016-03-28
finish for 2016-02-28
finish for 2016-01-28
finish for 2015-12-28
finish for 2015-11-28
finish for 2015-10-28
finish for 2015-09-28
finish for 2015-08-28
finish for 2015-07-28
finish for 2015-06-28
finish for Jan-2016
statistics for Feb-2016
finish for 2016-05-28
finish for 2016-04-28
finish for 2016-03-28
finish for 2016-02-28
finish for 2016-01-28
finish for 2015-12-28
finish for 2015-11-28
finish for 2015-10-28
finish for 2015-09-28
finish for 2015-08-28
finish for 2015-07-28
finish for 2015-06-28
finish for 2015-05-28
finish for Feb-2016
statistics for Mar-2016
finish for 2016-05-28
finish for 2016-04-28
finish for 2016-03-28
finish for 2016-02-28
finish for 2016-01-28
finish for 2015-12-28
finish for 2015-11-28
finish for 2015-10-28
finish for 2015-09-28
finish for 2015-08-28
finish for 2015-07-28
finish for 2015-06-28
finish for 2015-05-28
finish for 2015-04-28
finish for Mar-2016
statistics for April-2016
finish for 2016-05-28
finish for 2016-04-28
finish for 2016-03-28
finish for 2016-02-28
finish for 2016-01-28
finish for 2015-12-28
finish for 2015-11-28
finish for 2015-10-28
finish for 2015-09-28
finish for 2015-08-28
finish for 2015-07-28
finish for 2015-06-28
finish for 2015-05-28
finish for 2015-04-28
finish for 2015-03-28
finish for April-2016

In [39]:
print ('statistics for ' + str(month_name[16]))
test_lag[16] = test_lag_data(16)
print('finish for ' + str(month_name[16]))
test_lag[16].to_csv(root +'/testlag_'+ str(name[16]) + '.csv')

statistics for May-2016

/Users/mengruiyin/anaconda/lib/python2.7/site-packages/ipykernel/__main__.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

finish for 2016-05-28
finish for 2016-04-28
finish for 2016-03-28
finish for 2016-02-28
finish for 2016-01-28
finish for 2015-12-28
finish for 2015-11-28
finish for 2015-10-28
finish for 2015-09-28
finish for 2015-08-28
finish for 2015-07-28
finish for 2015-06-28
finish for 2015-05-28
finish for 2015-04-28
finish for 2015-03-28
finish for 2015-02-28
finish for May-2016

##### product in 05-16

In [137]:
train_test.shape

(13490490, 64)

In [139]:
May16 = train_test[train_test.fecha_dato == '2016-05-28']

In [148]:
col = product[:]
col.append('ncodpers')

In [150]:
May16_product = May16[col]

In [151]:
May16_product.head()

,ind_ahor_fin_ult1,ind_aval_fin_ult1,ind_cco_fin_ult1,ind_cder_fin_ult1,ind_cno_fin_ult1,ind_ctju_fin_ult1,ind_ctma_fin_ult1,ind_ctop_fin_ult1,ind_ctpp_fin_ult1,ind_deco_fin_ult1,...,ind_plan_fin_ult1,ind_pres_fin_ult1,ind_reca_fin_ult1,ind_tjcr_fin_ult1,ind_valo_fin_ult1,ind_viv_fin_ult1,ind_nomina_ult1,ind_nom_pens_ult1,ind_recibo_ult1,ncodpers
12688122,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0.0,0.0,0,657640
12688123,0,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0.0,0.0,0,657788
12688124,0,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0.0,0.0,0,657795
12688125,0,0,0,0,1,0,0,0,0,0,...,0,0,0,1,0,0,1.0,1.0,1,657790
12688126,0,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0.0,0.0,0,657794

In [158]:
test3 = test2.copy()

In [159]:
test_May16_pro = pd.merge(test3, May16_product, on = 'ncodpers', how = 'left')

In [163]:
test_May16_pro[col].to_csv(root + '/test_May16_product.csv', index = False)

In [164]:
test_May16_pro[col].shape

(929615, 25)

In [165]:
test_May16_pro[col].isnull().sum()

ind_ahor_fin_ult1    0
ind_aval_fin_ult1    0
ind_cco_fin_ult1     0
ind_cder_fin_ult1    0
ind_cno_fin_ult1     0
ind_ctju_fin_ult1    0
ind_ctma_fin_ult1    0
ind_ctop_fin_ult1    0
ind_ctpp_fin_ult1    0
ind_deco_fin_ult1    0
ind_deme_fin_ult1    0
ind_dela_fin_ult1    0
ind_ecue_fin_ult1    0
ind_fond_fin_ult1    0
ind_hip_fin_ult1     0
ind_plan_fin_ult1    0
ind_pres_fin_ult1    0
ind_reca_fin_ult1    0
ind_tjcr_fin_ult1    0
ind_valo_fin_ult1    0
ind_viv_fin_ult1     0
ind_nomina_ult1      0
ind_nom_pens_ult1    0
ind_recibo_ult1      0
ncodpers             0
dtype: int64

In [148]:
new_each_month[5] = pd.read_csv(root + '/lag_June15.csv')

In [150]:
len(new_each_month[1].columns)

95

In [185]:
new_each_month[15].columns[new_each_month[15].columns.isin(all_product)]

Index([u'ind_cco_fin_ult1', u'ind_cder_fin_ult1', u'ind_cno_fin_ult1',
       u'ind_ctju_fin_ult1', u'ind_ctma_fin_ult1', u'ind_ctop_fin_ult1',
       u'ind_ctpp_fin_ult1', u'ind_dela_fin_ult1', u'ind_ecue_fin_ult1',
       u'ind_fond_fin_ult1', u'ind_hip_fin_ult1', u'ind_nom_pens_ult1',
       u'ind_nomina_ult1', u'ind_plan_fin_ult1', u'ind_pres_fin_ult1',
       u'ind_reca_fin_ult1', u'ind_recibo_ult1', u'ind_tjcr_fin_ult1',
       u'ind_valo_fin_ult1', u'ind_viv_fin_ult1', u'ind_ahor_fin_ult1',
       u'ind_aval_fin_ult1'],
      dtype='object')

#### card information

In [4]:
all_product = ['ind_ahor_fin_ult1',
 'ind_aval_fin_ult1',
 'ind_cco_fin_ult1',
 'ind_cder_fin_ult1',
 'ind_cno_fin_ult1',
 'ind_ctju_fin_ult1',
 'ind_ctma_fin_ult1',
 'ind_ctop_fin_ult1',
 'ind_ctpp_fin_ult1',
 'ind_deco_fin_ult1',
 'ind_deme_fin_ult1',
 'ind_dela_fin_ult1',
 'ind_ecue_fin_ult1',
 'ind_fond_fin_ult1',
 'ind_hip_fin_ult1',
 'ind_plan_fin_ult1',
 'ind_pres_fin_ult1',
 'ind_reca_fin_ult1',
 'ind_tjcr_fin_ult1',
 'ind_valo_fin_ult1',
 'ind_viv_fin_ult1',
 'ind_nomina_ult1',
 'ind_nom_pens_ult1',
 'ind_recibo_ult1']

In [191]:
Feb_05_newcard = new_each_month[1].set_index('ncodpers')[product].sum(axis = 0)
month_summary = pd.DataFrame(Feb_05_newcard)
month_summary.columns = ['Feb-05_new_number']
month_summary.reset_index(inplace = True)
for index in range(2, len(month)):
    pro = new_each_month[index].columns[new_each_month[index].columns.isin(product)]
    month_newcard = new_each_month[index].set_index('ncodpers')[pro].sum(axis = 0)
    card_summary = pd.DataFrame(month_newcard)
    card_summary.columns = [month_name[index] + '_new_number']
    card_summary.reset_index(inplace = True)
    month_summary = pd.merge(month_summary, card_summary,  on = 'index', how = 'left')

In [193]:
month_summary.to_csv(root + 'new_month_summary.csv', index = False)